# Database Configuration
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_DATABASE=inventory_management

SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=your_password_here

# Email Configuration
SPRING_MAIL_USERNAME=your_email@example.com
SPRING_MAIL_PASSWORD=your_email_password

