# Node.js dependencies
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build outputs
dist/
out/
*.tsbuildinfo

# React build outputs
build/

# Environment variables
.env
# Ignore Node.js build artifacts
resourceManagementAPI/node_modules/
resourceManagementAPI/.env
resourceManagementAPI/.env.local
resourceManagementAPI/.DS_Store
resourceManagementAPI/npm-debug.log
resourceManagementAPI/yarn-error.log
resourceManagementAPI/dist/

frontend-customer/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java and Spring Boot
target/
*.class

# Maven
*.mvn/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*.swp
*.swo


# Miscellaneous
*.bak
*.tmp
/resourceManagementAPI/node_modules/
